# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Embedding model (if downloaded locally)
embedding/
embedding/*.bin

# Logs
*.log